<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
			<h2>Air Quality Index Prediction</h2>
		</div>
	</header>
	<div>
	<h2 style="color:blue;">Air Quality Index Output</h2>
		<div id="dtr">
			<div class="pred_call">
				<form action="{{ url_for('predict_dtr')}}" method="POST">
				<input type="submit" class="btn-info" value="predict_dtr">
				</form>
			</div>
			<div class="results">
				<table>
 				<tbody>
				{% block dtr %}{% endblock %}
				</tbody>
				</table>
			</div>
		</div>
		<div id="rtr">
			<div class="pred_call">
				<form action="{{ url_for('predict_rtr')}}" method="POST">
				<input type="submit" class="btn-info" value="predict_rtr">
				</form>
			</div>
			<div class="results">
				{% block rtr %}{% endblock %}
			</div>
		</div>
		<div id="svr">
			<div class="pred_call">
				<form action="{{ url_for('predict_svr')}}" method="POST">
				<input type="submit" class="btn-info" value="predict_svr">
				</form>
			</div>
			<div class="results">
				{% block svr %}{% endblock %}
			</div>
		</div>
		<div id="xgb">
			<div class="pred_call">
				<form action="{{ url_for('predict_xgb')}}" method="POST">
				<input type="submit" class="btn-info" value="predict_xgb">
				</form>
			</div>
			<div class="results">
				{% block xgb %}{% endblock %}
			</div>
		</div>
		<div id="gb">
			<div class="pred_call">
				<form action="{{ url_for('predict_gb')}}" method="POST">
				<input type="submit" class="btn-info" value="predict_gb">
				</form>
			</div>
			<div class="results">
				{% block gb %}{% endblock %}
			</div>
		</div>
</div>

	
	

</body>
</html>
